MobilityScm.Modelo.Vistas.Certificacion/Web References/Wms_Certification/WMS_Certification.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetManifiestHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manifestHeader" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManifiestHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManifiestHeaderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabelDataForManifest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manifestHeaderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="labelId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabelDataForManifestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabelDataForManifestResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkManifestAsCertified">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manifestHeaderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="lastUpdateBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarkManifestAsCertifiedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkManifestAsCertifiedResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="createBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCertificationHeaderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="labelId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="certificationType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastUpdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="boxBarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCertificationDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCertificationDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationDetailrId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="boxBarCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCertificationDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCertificationDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaterialForManifest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manifestHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="barcodeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaterialForManifestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaterialForManifestResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfCertificationIsComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfCertificationIsCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateIfCertificationIsCompleteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificationDetailConsolidated">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCertificationDetailConsolidatedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCertificationDetailConsolidatedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationBySerialNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="manifestHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCertificationBySerialNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertCertificationBySerialNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCertificationBySerialNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="certificationHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCertificationBySerialNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteCertificationBySerialNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetManifiestHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:GetManifiestHeader" />
  </wsdl:message>
  <wsdl:message name="GetManifiestHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:GetManifiestHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="GetLabelDataForManifestSoapIn">
    <wsdl:part name="parameters" element="tns:GetLabelDataForManifest" />
  </wsdl:message>
  <wsdl:message name="GetLabelDataForManifestSoapOut">
    <wsdl:part name="parameters" element="tns:GetLabelDataForManifestResponse" />
  </wsdl:message>
  <wsdl:message name="MarkManifestAsCertifiedSoapIn">
    <wsdl:part name="parameters" element="tns:MarkManifestAsCertified" />
  </wsdl:message>
  <wsdl:message name="MarkManifestAsCertifiedSoapOut">
    <wsdl:part name="parameters" element="tns:MarkManifestAsCertifiedResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCertificationHeader" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCertificationHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationDetailSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCertificationDetail" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationDetailSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCertificationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCertificationDetailSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCertificationDetail" />
  </wsdl:message>
  <wsdl:message name="DeleteCertificationDetailSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCertificationDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaterialForManifestSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaterialForManifest" />
  </wsdl:message>
  <wsdl:message name="GetMaterialForManifestSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaterialForManifestResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIfCertificationIsCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIfCertificationIsComplete" />
  </wsdl:message>
  <wsdl:message name="ValidateIfCertificationIsCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIfCertificationIsCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificationDetailConsolidatedSoapIn">
    <wsdl:part name="parameters" element="tns:GetCertificationDetailConsolidated" />
  </wsdl:message>
  <wsdl:message name="GetCertificationDetailConsolidatedSoapOut">
    <wsdl:part name="parameters" element="tns:GetCertificationDetailConsolidatedResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationBySerialNumberSoapIn">
    <wsdl:part name="parameters" element="tns:InsertCertificationBySerialNumber" />
  </wsdl:message>
  <wsdl:message name="InsertCertificationBySerialNumberSoapOut">
    <wsdl:part name="parameters" element="tns:InsertCertificationBySerialNumberResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCertificationBySerialNumberSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCertificationBySerialNumber" />
  </wsdl:message>
  <wsdl:message name="DeleteCertificationBySerialNumberSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCertificationBySerialNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_CertificationSoap">
    <wsdl:operation name="GetManifiestHeader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el encabezado del manifiesto</wsdl:documentation>
      <wsdl:input message="tns:GetManifiestHeaderSoapIn" />
      <wsdl:output message="tns:GetManifiestHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLabelDataForManifest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la data de la etiqueta para manifiesto</wsdl:documentation>
      <wsdl:input message="tns:GetLabelDataForManifestSoapIn" />
      <wsdl:output message="tns:GetLabelDataForManifestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarkManifestAsCertified">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Marca el manifiesto como certificado</wsdl:documentation>
      <wsdl:input message="tns:MarkManifestAsCertifiedSoapIn" />
      <wsdl:output message="tns:MarkManifestAsCertifiedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationHeader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar el encabezado del certificado</wsdl:documentation>
      <wsdl:input message="tns:InsertCertificationHeaderSoapIn" />
      <wsdl:output message="tns:InsertCertificationHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta un detalle para el certificado </wsdl:documentation>
      <wsdl:input message="tns:InsertCertificationDetailSoapIn" />
      <wsdl:output message="tns:InsertCertificationDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina un detalle del certificado</wsdl:documentation>
      <wsdl:input message="tns:DeleteCertificationDetailSoapIn" />
      <wsdl:output message="tns:DeleteCertificationDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialForManifest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina un detalle del certificado</wsdl:documentation>
      <wsdl:input message="tns:GetMaterialForManifestSoapIn" />
      <wsdl:output message="tns:GetMaterialForManifestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIfCertificationIsComplete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si la certificacion esta completa.</wsdl:documentation>
      <wsdl:input message="tns:ValidateIfCertificationIsCompleteSoapIn" />
      <wsdl:output message="tns:ValidateIfCertificationIsCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificationDetailConsolidated">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el detalle consolidado de la certificacion.</wsdl:documentation>
      <wsdl:input message="tns:GetCertificationDetailConsolidatedSoapIn" />
      <wsdl:output message="tns:GetCertificationDetailConsolidatedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationBySerialNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta el numero de serie para la certificacion</wsdl:documentation>
      <wsdl:input message="tns:InsertCertificationBySerialNumberSoapIn" />
      <wsdl:output message="tns:InsertCertificationBySerialNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationBySerialNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina el numero de serie.</wsdl:documentation>
      <wsdl:input message="tns:DeleteCertificationBySerialNumberSoapIn" />
      <wsdl:output message="tns:DeleteCertificationBySerialNumberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_CertificationSoap" type="tns:WMS_CertificationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManifiestHeader">
      <soap:operation soapAction="http://tempuri.org/GetManifiestHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabelDataForManifest">
      <soap:operation soapAction="http://tempuri.org/GetLabelDataForManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkManifestAsCertified">
      <soap:operation soapAction="http://tempuri.org/MarkManifestAsCertified" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationHeader">
      <soap:operation soapAction="http://tempuri.org/InsertCertificationHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationDetail">
      <soap:operation soapAction="http://tempuri.org/InsertCertificationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationDetail">
      <soap:operation soapAction="http://tempuri.org/DeleteCertificationDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialForManifest">
      <soap:operation soapAction="http://tempuri.org/GetMaterialForManifest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfCertificationIsComplete">
      <soap:operation soapAction="http://tempuri.org/ValidateIfCertificationIsComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationDetailConsolidated">
      <soap:operation soapAction="http://tempuri.org/GetCertificationDetailConsolidated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationBySerialNumber">
      <soap:operation soapAction="http://tempuri.org/InsertCertificationBySerialNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationBySerialNumber">
      <soap:operation soapAction="http://tempuri.org/DeleteCertificationBySerialNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_CertificationSoap12" type="tns:WMS_CertificationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetManifiestHeader">
      <soap12:operation soapAction="http://tempuri.org/GetManifiestHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLabelDataForManifest">
      <soap12:operation soapAction="http://tempuri.org/GetLabelDataForManifest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkManifestAsCertified">
      <soap12:operation soapAction="http://tempuri.org/MarkManifestAsCertified" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationHeader">
      <soap12:operation soapAction="http://tempuri.org/InsertCertificationHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationDetail">
      <soap12:operation soapAction="http://tempuri.org/InsertCertificationDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationDetail">
      <soap12:operation soapAction="http://tempuri.org/DeleteCertificationDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialForManifest">
      <soap12:operation soapAction="http://tempuri.org/GetMaterialForManifest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfCertificationIsComplete">
      <soap12:operation soapAction="http://tempuri.org/ValidateIfCertificationIsComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificationDetailConsolidated">
      <soap12:operation soapAction="http://tempuri.org/GetCertificationDetailConsolidated" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCertificationBySerialNumber">
      <soap12:operation soapAction="http://tempuri.org/InsertCertificationBySerialNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCertificationBySerialNumber">
      <soap12:operation soapAction="http://tempuri.org/DeleteCertificationBySerialNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_Certification">
    <wsdl:port name="WMS_CertificationSoap" binding="tns:WMS_CertificationSoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_Certification.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_CertificationSoap12" binding="tns:WMS_CertificationSoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_Certification.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>