Swift3PLMobile/Web References/WMS_Polizas/WMS_Polizas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ParsePoliza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPOLIZA_BARCODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParsePolizaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ParsePolizaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarImagenAPoliza">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCODIGO_BARRAS_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIMAGE" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="pLoginID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pAuditId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pAuditType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarImagenAPolizaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarImagenAPolizaResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearLicencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCODIGO_POLIZA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLoginID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pLICENCIA_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pCLIENT_OWNER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pREGIMEN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TaskId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearLicenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CrearLicenciaResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pLICENCIA_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregaSKU_Licencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pLICENSE_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pBARCODE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pQTY" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pLAST_LOGIN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pVOLUME_FACTOR" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pWEIGTH" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="pSERIAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCOMMENTS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pACUERDO_COMERCIAL" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKUS_COUNTED" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pSTATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pDateExpiration" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pBatch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pVin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statusName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="caliber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregaSKU_LicenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregaSKU_LicenciaResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="pSKUS_COUNTED" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePolizaImg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pPhotoId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePolizaImgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePolizaImgResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSeriePorMaterial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="licenciaId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="batch" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaDeExpiracion" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSeriePorMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarSeriePorMaterialResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActulizarLoteYFechaDeVencimientoPorSerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="correlativo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="batch" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaDeExpiracion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActulizarLoteYFechaDeVencimientoPorSerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActulizarLoteYFechaDeVencimientoPorSerieResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="correlativo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarSerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarSerieResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtienerInformacionPorMaterialSerie">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="licenseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtienerInformacionPorMaterialSerieResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtienerInformacionPorMaterialSerieResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParsePolizaSoapIn">
    <wsdl:part name="parameters" element="tns:ParsePoliza" />
  </wsdl:message>
  <wsdl:message name="ParsePolizaSoapOut">
    <wsdl:part name="parameters" element="tns:ParsePolizaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarImagenAPolizaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarImagenAPoliza" />
  </wsdl:message>
  <wsdl:message name="AgregarImagenAPolizaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarImagenAPolizaResponse" />
  </wsdl:message>
  <wsdl:message name="CrearLicenciaSoapIn">
    <wsdl:part name="parameters" element="tns:CrearLicencia" />
  </wsdl:message>
  <wsdl:message name="CrearLicenciaSoapOut">
    <wsdl:part name="parameters" element="tns:CrearLicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregaSKU_LicenciaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregaSKU_Licencia" />
  </wsdl:message>
  <wsdl:message name="AgregaSKU_LicenciaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregaSKU_LicenciaResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePolizaImgSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePolizaImg" />
  </wsdl:message>
  <wsdl:message name="UpdatePolizaImgSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePolizaImgResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSeriePorMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarSeriePorMaterial" />
  </wsdl:message>
  <wsdl:message name="AgregarSeriePorMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarSeriePorMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="ActulizarLoteYFechaDeVencimientoPorSerieSoapIn">
    <wsdl:part name="parameters" element="tns:ActulizarLoteYFechaDeVencimientoPorSerie" />
  </wsdl:message>
  <wsdl:message name="ActulizarLoteYFechaDeVencimientoPorSerieSoapOut">
    <wsdl:part name="parameters" element="tns:ActulizarLoteYFechaDeVencimientoPorSerieResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSerieSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarSerie" />
  </wsdl:message>
  <wsdl:message name="EliminarSerieSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarSerieResponse" />
  </wsdl:message>
  <wsdl:message name="ObtienerInformacionPorMaterialSerieSoapIn">
    <wsdl:part name="parameters" element="tns:ObtienerInformacionPorMaterialSerie" />
  </wsdl:message>
  <wsdl:message name="ObtienerInformacionPorMaterialSerieSoapOut">
    <wsdl:part name="parameters" element="tns:ObtienerInformacionPorMaterialSerieResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_PolizasSoap">
    <wsdl:operation name="ParsePoliza">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ParsePoliza</wsdl:documentation>
      <wsdl:input message="tns:ParsePolizaSoapIn" />
      <wsdl:output message="tns:ParsePolizaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarImagenAPoliza">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search Bin by Key</wsdl:documentation>
      <wsdl:input message="tns:AgregarImagenAPolizaSoapIn" />
      <wsdl:output message="tns:AgregarImagenAPolizaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearLicencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CrearLicencia</wsdl:documentation>
      <wsdl:input message="tns:CrearLicenciaSoapIn" />
      <wsdl:output message="tns:CrearLicenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregaSKU_Licencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search Bin by Key</wsdl:documentation>
      <wsdl:input message="tns:AgregaSKU_LicenciaSoapIn" />
      <wsdl:output message="tns:AgregaSKU_LicenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolizaImg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Clients</wsdl:documentation>
      <wsdl:input message="tns:UpdatePolizaImgSoapIn" />
      <wsdl:output message="tns:UpdatePolizaImgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSeriePorMaterial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega serie por material</wsdl:documentation>
      <wsdl:input message="tns:AgregarSeriePorMaterialSoapIn" />
      <wsdl:output message="tns:AgregarSeriePorMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActulizarLoteYFechaDeVencimientoPorSerie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza el lote y fecha de vencimiento de la serie</wsdl:documentation>
      <wsdl:input message="tns:ActulizarLoteYFechaDeVencimientoPorSerieSoapIn" />
      <wsdl:output message="tns:ActulizarLoteYFechaDeVencimientoPorSerieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarSerie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina la serie</wsdl:documentation>
      <wsdl:input message="tns:EliminarSerieSoapIn" />
      <wsdl:output message="tns:EliminarSerieSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtienerInformacionPorMaterialSerie">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agrega serie por material</wsdl:documentation>
      <wsdl:input message="tns:ObtienerInformacionPorMaterialSerieSoapIn" />
      <wsdl:output message="tns:ObtienerInformacionPorMaterialSerieSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_PolizasSoap" type="tns:WMS_PolizasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParsePoliza">
      <soap:operation soapAction="http://tempuri.org/ParsePoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarImagenAPoliza">
      <soap:operation soapAction="http://tempuri.org/AgregarImagenAPoliza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearLicencia">
      <soap:operation soapAction="http://tempuri.org/CrearLicencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregaSKU_Licencia">
      <soap:operation soapAction="http://tempuri.org/AgregaSKU_Licencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolizaImg">
      <soap:operation soapAction="http://tempuri.org/UpdatePolizaImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSeriePorMaterial">
      <soap:operation soapAction="http://tempuri.org/AgregarSeriePorMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActulizarLoteYFechaDeVencimientoPorSerie">
      <soap:operation soapAction="http://tempuri.org/ActulizarLoteYFechaDeVencimientoPorSerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSerie">
      <soap:operation soapAction="http://tempuri.org/EliminarSerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienerInformacionPorMaterialSerie">
      <soap:operation soapAction="http://tempuri.org/ObtienerInformacionPorMaterialSerie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_PolizasSoap12" type="tns:WMS_PolizasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParsePoliza">
      <soap12:operation soapAction="http://tempuri.org/ParsePoliza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarImagenAPoliza">
      <soap12:operation soapAction="http://tempuri.org/AgregarImagenAPoliza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearLicencia">
      <soap12:operation soapAction="http://tempuri.org/CrearLicencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregaSKU_Licencia">
      <soap12:operation soapAction="http://tempuri.org/AgregaSKU_Licencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolizaImg">
      <soap12:operation soapAction="http://tempuri.org/UpdatePolizaImg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSeriePorMaterial">
      <soap12:operation soapAction="http://tempuri.org/AgregarSeriePorMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActulizarLoteYFechaDeVencimientoPorSerie">
      <soap12:operation soapAction="http://tempuri.org/ActulizarLoteYFechaDeVencimientoPorSerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSerie">
      <soap12:operation soapAction="http://tempuri.org/EliminarSerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienerInformacionPorMaterialSerie">
      <soap12:operation soapAction="http://tempuri.org/ObtienerInformacionPorMaterialSerie" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_Polizas">
    <wsdl:port name="WMS_PolizasSoap" binding="tns:WMS_PolizasSoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_Polizas.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_PolizasSoap12" binding="tns:WMS_PolizasSoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_Polizas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>