WmsOnePlan/WMSOnePlan_Client/Service References/OnePlanServices_InitInventory/WMS_InitInventory1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InitBasicInventory_Location">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pBIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMATERIAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDESC" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pQTY" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitBasicInventory_LocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitBasicInventory_LocationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CleanUp_Location">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CleanUp_LocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CleanUp_LocationResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitBasicInventory_LocationSoapIn">
    <wsdl:part name="parameters" element="tns:InitBasicInventory_Location" />
  </wsdl:message>
  <wsdl:message name="InitBasicInventory_LocationSoapOut">
    <wsdl:part name="parameters" element="tns:InitBasicInventory_LocationResponse" />
  </wsdl:message>
  <wsdl:message name="CleanUp_LocationSoapIn">
    <wsdl:part name="parameters" element="tns:CleanUp_Location" />
  </wsdl:message>
  <wsdl:message name="CleanUp_LocationSoapOut">
    <wsdl:part name="parameters" element="tns:CleanUp_LocationResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_InitInventorySoap">
    <wsdl:operation name="InitBasicInventory_Location">
      <wsdl:input message="tns:InitBasicInventory_LocationSoapIn" />
      <wsdl:output message="tns:InitBasicInventory_LocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CleanUp_Location">
      <wsdl:input message="tns:CleanUp_LocationSoapIn" />
      <wsdl:output message="tns:CleanUp_LocationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_InitInventorySoap" type="tns:WMS_InitInventorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitBasicInventory_Location">
      <soap:operation soapAction="http://tempuri.org/InitBasicInventory_Location" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanUp_Location">
      <soap:operation soapAction="http://tempuri.org/CleanUp_Location" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_InitInventorySoap12" type="tns:WMS_InitInventorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitBasicInventory_Location">
      <soap12:operation soapAction="http://tempuri.org/InitBasicInventory_Location" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CleanUp_Location">
      <soap12:operation soapAction="http://tempuri.org/CleanUp_Location" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_InitInventory">
    <wsdl:port name="WMS_InitInventorySoap" binding="tns:WMS_InitInventorySoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_InitInventory.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_InitInventorySoap12" binding="tns:WMS_InitInventorySoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_InitInventory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>