WmsOnePlan/WMSOnePlan_WebForm/Service References/OnePlanServices_Security/WMS_Security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_STATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLICENSE_SERIAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pENVIRONMENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGUI_LAYOUT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pCONSOLIDATION_TERMINAL" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGENERATE_TASKS" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pLOADING_GATE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pWHEREHOUSE_iD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserLoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_STATUS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLICENSE_SERIAL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pENVIRONMENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGUI_LAYOUT" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pCONSOLIDATION_TERMINAL" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pGENERATE_TASKS" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pLOADING_GATE" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pWHEREHOUSE_iD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserLoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserGUI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGUI_LAYOUT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserGUIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserGUIResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserLoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOperators">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOperatorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchOperatorsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPartialUserLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyUserLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupByKeyUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GroupByKeyUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupByKeyUserLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccessLevelGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccessLevelGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccessLevelGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPointGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckPointGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckPointGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyCheckPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyCheckPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyCheckPointResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialCheckPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialCheckPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPartialCheckPointResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCheckPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCheckPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCheckPointResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCheckPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCheckPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateCheckPointResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCheckPoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPRIV_GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCheckPointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCheckPointResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyAccessLevelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_DESCRIPTION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPartialAccessLevelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAccessLevelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_DESCRIPTION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccessLevelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pROLE_DESCRIPTION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateAccessLevelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckPointJoinAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCheckPoint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccessLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckPointJoinAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckPointJoinAccessLevelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCheckPointsJoinAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pAccessLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JoinOrNot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCheckPointsJoinAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCheckPointsJoinAccessLevelResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinCheckPointToAccessLevel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCheckPoint" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccessLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAddOrRemove" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinCheckPointToAccessLevelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JoinCheckPointToAccessLevelResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserPassResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyExternalUserPass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyExternalUserPassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyExternalUserPassResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BringUserMenuBasc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BringUserMenuBascResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BringUserMenuBascResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserPassBasc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserPassBascResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserPassBascResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCompanyNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCompanyNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnvironments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPlatform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnvironmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEnvironmentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnvironmentByKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPlatform" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEnvironmentByKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEnvironmentByKeyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckPointsTree">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRoleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pRoleDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCheckPointsTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCheckPointsTreeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserAllowed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pCheckPointID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAccessLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JoinOrNot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUserAllowedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsUserAllowedResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMobileUserMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRoleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMobileUserMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMobileUserMenuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBascUserMenu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pRoleID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBascUserMenuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBascUserMenuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_PWD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserPwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserPwdResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pInOrOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterLogInResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCanGenerateTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCanGenerateTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserCanGenerateTasksResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastLoginID_OnThisTerminal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTerminalIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastLoginID_OnThisTerminalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastLoginID_OnThisTerminalResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterTerminalLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pTERMINAL_IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterTerminalLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterTerminalLogInResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KillBroadcast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pBroadCastLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KillBroadcastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KillBroadcastResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserLogin" />
  </wsdl:message>
  <wsdl:message name="CreateUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserLogin" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserGUISoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserGUI" />
  </wsdl:message>
  <wsdl:message name="UpdateUserGUISoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserGUIResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserLogin" />
  </wsdl:message>
  <wsdl:message name="DeleteUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOperatorsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOperators" />
  </wsdl:message>
  <wsdl:message name="SearchOperatorsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOperatorsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPartialUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPartialUserLogin" />
  </wsdl:message>
  <wsdl:message name="SearchPartialUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPartialUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyUserLogin" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GroupByKeyUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GroupByKeyUserLogin" />
  </wsdl:message>
  <wsdl:message name="GroupByKeyUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GroupByKeyUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AccessLevelGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:AccessLevelGroups" />
  </wsdl:message>
  <wsdl:message name="AccessLevelGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:AccessLevelGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="CheckPointGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckPointGroups" />
  </wsdl:message>
  <wsdl:message name="CheckPointGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckPointGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyCheckPointSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyCheckPoint" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyCheckPointSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyCheckPointResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPartialCheckPointSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPartialCheckPoint" />
  </wsdl:message>
  <wsdl:message name="SearchPartialCheckPointSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPartialCheckPointResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCheckPointSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCheckPoint" />
  </wsdl:message>
  <wsdl:message name="DeleteCheckPointSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCheckPointResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCheckPointSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCheckPoint" />
  </wsdl:message>
  <wsdl:message name="UpdateCheckPointSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCheckPointResponse" />
  </wsdl:message>
  <wsdl:message name="CreateCheckPointSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCheckPoint" />
  </wsdl:message>
  <wsdl:message name="CreateCheckPointSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCheckPointResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyAccessLevel" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPartialAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPartialAccessLevel" />
  </wsdl:message>
  <wsdl:message name="SearchPartialAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPartialAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccessLevel" />
  </wsdl:message>
  <wsdl:message name="DeleteAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccessLevel" />
  </wsdl:message>
  <wsdl:message name="UpdateAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="CreateAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:CreateAccessLevel" />
  </wsdl:message>
  <wsdl:message name="CreateAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:CreateAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheckPointJoinAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckPointJoinAccessLevel" />
  </wsdl:message>
  <wsdl:message name="GetCheckPointJoinAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckPointJoinAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCheckPointsJoinAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCheckPointsJoinAccessLevel" />
  </wsdl:message>
  <wsdl:message name="SelectCheckPointsJoinAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCheckPointsJoinAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="JoinCheckPointToAccessLevelSoapIn">
    <wsdl:part name="parameters" element="tns:JoinCheckPointToAccessLevel" />
  </wsdl:message>
  <wsdl:message name="JoinCheckPointToAccessLevelSoapOut">
    <wsdl:part name="parameters" element="tns:JoinCheckPointToAccessLevelResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserPassSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUserPass" />
  </wsdl:message>
  <wsdl:message name="VerifyUserPassSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserPassResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyExternalUserPassSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyExternalUserPass" />
  </wsdl:message>
  <wsdl:message name="VerifyExternalUserPassSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyExternalUserPassResponse" />
  </wsdl:message>
  <wsdl:message name="BringUserMenuBascSoapIn">
    <wsdl:part name="parameters" element="tns:BringUserMenuBasc" />
  </wsdl:message>
  <wsdl:message name="BringUserMenuBascSoapOut">
    <wsdl:part name="parameters" element="tns:BringUserMenuBascResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserPassBascSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUserPassBasc" />
  </wsdl:message>
  <wsdl:message name="VerifyUserPassBascSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserPassBascResponse" />
  </wsdl:message>
  <wsdl:message name="GetCompanyNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCompanyName" />
  </wsdl:message>
  <wsdl:message name="GetCompanyNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCompanyNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnvironmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEnvironments" />
  </wsdl:message>
  <wsdl:message name="GetEnvironmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEnvironmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEnvironmentByKeySoapIn">
    <wsdl:part name="parameters" element="tns:GetEnvironmentByKey" />
  </wsdl:message>
  <wsdl:message name="GetEnvironmentByKeySoapOut">
    <wsdl:part name="parameters" element="tns:GetEnvironmentByKeyResponse" />
  </wsdl:message>
  <wsdl:message name="GetCheckPointsTreeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCheckPointsTree" />
  </wsdl:message>
  <wsdl:message name="GetCheckPointsTreeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCheckPointsTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IsUserAllowedSoapIn">
    <wsdl:part name="parameters" element="tns:IsUserAllowed" />
  </wsdl:message>
  <wsdl:message name="IsUserAllowedSoapOut">
    <wsdl:part name="parameters" element="tns:IsUserAllowedResponse" />
  </wsdl:message>
  <wsdl:message name="GetMobileUserMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetMobileUserMenu" />
  </wsdl:message>
  <wsdl:message name="GetMobileUserMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetMobileUserMenuResponse" />
  </wsdl:message>
  <wsdl:message name="GetBascUserMenuSoapIn">
    <wsdl:part name="parameters" element="tns:GetBascUserMenu" />
  </wsdl:message>
  <wsdl:message name="GetBascUserMenuSoapOut">
    <wsdl:part name="parameters" element="tns:GetBascUserMenuResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPwdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserPwd" />
  </wsdl:message>
  <wsdl:message name="UpdateUserPwdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserPwdResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterLogInSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterLogIn" />
  </wsdl:message>
  <wsdl:message name="RegisterLogInSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterLogInResponse" />
  </wsdl:message>
  <wsdl:message name="UserCanGenerateTasksSoapIn">
    <wsdl:part name="parameters" element="tns:UserCanGenerateTasks" />
  </wsdl:message>
  <wsdl:message name="UserCanGenerateTasksSoapOut">
    <wsdl:part name="parameters" element="tns:UserCanGenerateTasksResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastLoginID_OnThisTerminalSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastLoginID_OnThisTerminal" />
  </wsdl:message>
  <wsdl:message name="GetLastLoginID_OnThisTerminalSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastLoginID_OnThisTerminalResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterTerminalLogInSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterTerminalLogIn" />
  </wsdl:message>
  <wsdl:message name="RegisterTerminalLogInSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterTerminalLogInResponse" />
  </wsdl:message>
  <wsdl:message name="KillBroadcastSoapIn">
    <wsdl:part name="parameters" element="tns:KillBroadcast" />
  </wsdl:message>
  <wsdl:message name="KillBroadcastSoapOut">
    <wsdl:part name="parameters" element="tns:KillBroadcastResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_SecuritySoap">
    <wsdl:operation name="CreateUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crear usuarios</wsdl:documentation>
      <wsdl:input message="tns:CreateUserLoginSoapIn" />
      <wsdl:output message="tns:CreateUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserLoginSoapIn" />
      <wsdl:output message="tns:UpdateUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGUI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza GUI de usuario</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserGUISoapIn" />
      <wsdl:output message="tns:UpdateUserGUISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar usuario</wsdl:documentation>
      <wsdl:input message="tns:DeleteUserLoginSoapIn" />
      <wsdl:output message="tns:DeleteUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOperators">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar usuario por multiples columnas</wsdl:documentation>
      <wsdl:input message="tns:SearchOperatorsSoapIn" />
      <wsdl:output message="tns:SearchOperatorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPartialUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar usuario por multiples columnas</wsdl:documentation>
      <wsdl:input message="tns:SearchPartialUserLoginSoapIn" />
      <wsdl:output message="tns:SearchPartialUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">buscar usuarios por codigo</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyUserLoginSoapIn" />
      <wsdl:output message="tns:SearchByKeyUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GroupByKeyUserLogin">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">UserLogin Group by Role</wsdl:documentation>
      <wsdl:input message="tns:GroupByKeyUserLoginSoapIn" />
      <wsdl:output message="tns:GroupByKeyUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccessLevelGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get distinct access leves from roles table</wsdl:documentation>
      <wsdl:input message="tns:AccessLevelGroupsSoapIn" />
      <wsdl:output message="tns:AccessLevelGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckPointGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get distinct access leves from roles table</wsdl:documentation>
      <wsdl:input message="tns:CheckPointGroupsSoapIn" />
      <wsdl:output message="tns:CheckPointGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyCheckPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CheckPoint</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyCheckPointSoapIn" />
      <wsdl:output message="tns:SearchByKeyCheckPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPartialCheckPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CheckPoint</wsdl:documentation>
      <wsdl:input message="tns:SearchPartialCheckPointSoapIn" />
      <wsdl:output message="tns:SearchPartialCheckPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCheckPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eliminar puntos de control de seguridad</wsdl:documentation>
      <wsdl:input message="tns:DeleteCheckPointSoapIn" />
      <wsdl:output message="tns:DeleteCheckPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar puntos de control de seguridad</wsdl:documentation>
      <wsdl:input message="tns:UpdateCheckPointSoapIn" />
      <wsdl:output message="tns:UpdateCheckPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCheckPoint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crear puntos de control de seguridad</wsdl:documentation>
      <wsdl:input message="tns:CreateCheckPointSoapIn" />
      <wsdl:output message="tns:CreateCheckPointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar nivel de acceso por ID</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyAccessLevelSoapIn" />
      <wsdl:output message="tns:SearchByKeyAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPartialAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Busqueda Parcial de niveles de acceso</wsdl:documentation>
      <wsdl:input message="tns:SearchPartialAccessLevelSoapIn" />
      <wsdl:output message="tns:SearchPartialAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Borrar Nivel de Acceso</wsdl:documentation>
      <wsdl:input message="tns:DeleteAccessLevelSoapIn" />
      <wsdl:output message="tns:DeleteAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualizar niveles de acceso</wsdl:documentation>
      <wsdl:input message="tns:UpdateAccessLevelSoapIn" />
      <wsdl:output message="tns:UpdateAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crear Niveles de Acceso</wsdl:documentation>
      <wsdl:input message="tns:CreateAccessLevelSoapIn" />
      <wsdl:output message="tns:CreateAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointJoinAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Privs por AccessLevel</wsdl:documentation>
      <wsdl:input message="tns:GetCheckPointJoinAccessLevelSoapIn" />
      <wsdl:output message="tns:GetCheckPointJoinAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCheckPointsJoinAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Privs por AccessLevel</wsdl:documentation>
      <wsdl:input message="tns:SelectCheckPointsJoinAccessLevelSoapIn" />
      <wsdl:output message="tns:SelectCheckPointsJoinAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinCheckPointToAccessLevel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Crear puntos de control de seguridad</wsdl:documentation>
      <wsdl:input message="tns:JoinCheckPointToAccessLevelSoapIn" />
      <wsdl:output message="tns:JoinCheckPointToAccessLevelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticar Usuario/Password</wsdl:documentation>
      <wsdl:input message="tns:VerifyUserPassSoapIn" />
      <wsdl:output message="tns:VerifyUserPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyExternalUserPass">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticar Usuario/Password</wsdl:documentation>
      <wsdl:input message="tns:VerifyExternalUserPassSoapIn" />
      <wsdl:output message="tns:VerifyExternalUserPassSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BringUserMenuBasc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mostrar opciones del menu BASC para este usuario</wsdl:documentation>
      <wsdl:input message="tns:BringUserMenuBascSoapIn" />
      <wsdl:output message="tns:BringUserMenuBascSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPassBasc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticar Usuario/Password.</wsdl:documentation>
      <wsdl:input message="tns:VerifyUserPassBascSoapIn" />
      <wsdl:output message="tns:VerifyUserPassBascSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtner el nombre del cliente licenciado</wsdl:documentation>
      <wsdl:input message="tns:GetCompanyNameSoapIn" />
      <wsdl:output message="tns:GetCompanyNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnvironments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener los diferentes ambientes de trabajo </wsdl:documentation>
      <wsdl:input message="tns:GetEnvironmentsSoapIn" />
      <wsdl:output message="tns:GetEnvironmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEnvironmentByKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener los diferentes ambientes de trabajo </wsdl:documentation>
      <wsdl:input message="tns:GetEnvironmentByKeySoapIn" />
      <wsdl:output message="tns:GetEnvironmentByKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointsTree">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar usuario por multiples columnas</wsdl:documentation>
      <wsdl:input message="tns:GetCheckPointsTreeSoapIn" />
      <wsdl:output message="tns:GetCheckPointsTreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUserAllowed">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Privs por AccessLevel</wsdl:documentation>
      <wsdl:input message="tns:IsUserAllowedSoapIn" />
      <wsdl:output message="tns:IsUserAllowedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMobileUserMenu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Privs por AccessLevel</wsdl:documentation>
      <wsdl:input message="tns:GetMobileUserMenuSoapIn" />
      <wsdl:output message="tns:GetMobileUserMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBascUserMenu">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Buscar Basc Privs por AccessLevel</wsdl:documentation>
      <wsdl:input message="tns:GetBascUserMenuSoapIn" />
      <wsdl:output message="tns:GetBascUserMenuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPwd">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario</wsdl:documentation>
      <wsdl:input message="tns:UpdateUserPwdSoapIn" />
      <wsdl:output message="tns:UpdateUserPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterLogIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario</wsdl:documentation>
      <wsdl:input message="tns:RegisterLogInSoapIn" />
      <wsdl:output message="tns:RegisterLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserCanGenerateTasks">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">usuario puede o no generar tareas</wsdl:documentation>
      <wsdl:input message="tns:UserCanGenerateTasksSoapIn" />
      <wsdl:output message="tns:UserCanGenerateTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLastLoginID_OnThisTerminal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Autenticar Usuario/Password</wsdl:documentation>
      <wsdl:input message="tns:GetLastLoginID_OnThisTerminalSoapIn" />
      <wsdl:output message="tns:GetLastLoginID_OnThisTerminalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTerminalLogIn">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario</wsdl:documentation>
      <wsdl:input message="tns:RegisterTerminalLogInSoapIn" />
      <wsdl:output message="tns:RegisterTerminalLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KillBroadcast">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Actualiza usuario</wsdl:documentation>
      <wsdl:input message="tns:KillBroadcastSoapIn" />
      <wsdl:output message="tns:KillBroadcastSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_SecuritySoap" type="tns:WMS_SecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserLogin">
      <soap:operation soapAction="http://tempuri.org/CreateUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLogin">
      <soap:operation soapAction="http://tempuri.org/UpdateUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGUI">
      <soap:operation soapAction="http://tempuri.org/UpdateUserGUI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogin">
      <soap:operation soapAction="http://tempuri.org/DeleteUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOperators">
      <soap:operation soapAction="http://tempuri.org/SearchOperators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialUserLogin">
      <soap:operation soapAction="http://tempuri.org/SearchPartialUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyUserLogin">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupByKeyUserLogin">
      <soap:operation soapAction="http://tempuri.org/GroupByKeyUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccessLevelGroups">
      <soap:operation soapAction="http://tempuri.org/AccessLevelGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPointGroups">
      <soap:operation soapAction="http://tempuri.org/CheckPointGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyCheckPoint">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyCheckPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialCheckPoint">
      <soap:operation soapAction="http://tempuri.org/SearchPartialCheckPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCheckPoint">
      <soap:operation soapAction="http://tempuri.org/DeleteCheckPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckPoint">
      <soap:operation soapAction="http://tempuri.org/UpdateCheckPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCheckPoint">
      <soap:operation soapAction="http://tempuri.org/CreateCheckPoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyAccessLevel">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialAccessLevel">
      <soap:operation soapAction="http://tempuri.org/SearchPartialAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccessLevel">
      <soap:operation soapAction="http://tempuri.org/DeleteAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessLevel">
      <soap:operation soapAction="http://tempuri.org/UpdateAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccessLevel">
      <soap:operation soapAction="http://tempuri.org/CreateAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointJoinAccessLevel">
      <soap:operation soapAction="http://tempuri.org/GetCheckPointJoinAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCheckPointsJoinAccessLevel">
      <soap:operation soapAction="http://tempuri.org/SelectCheckPointsJoinAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinCheckPointToAccessLevel">
      <soap:operation soapAction="http://tempuri.org/JoinCheckPointToAccessLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPass">
      <soap:operation soapAction="http://tempuri.org/VerifyUserPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyExternalUserPass">
      <soap:operation soapAction="http://tempuri.org/VerifyExternalUserPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BringUserMenuBasc">
      <soap:operation soapAction="http://tempuri.org/BringUserMenuBasc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPassBasc">
      <soap:operation soapAction="http://tempuri.org/VerifyUserPassBasc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyName">
      <soap:operation soapAction="http://tempuri.org/GetCompanyName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnvironments">
      <soap:operation soapAction="http://tempuri.org/GetEnvironments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnvironmentByKey">
      <soap:operation soapAction="http://tempuri.org/GetEnvironmentByKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointsTree">
      <soap:operation soapAction="http://tempuri.org/GetCheckPointsTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserAllowed">
      <soap:operation soapAction="http://tempuri.org/IsUserAllowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileUserMenu">
      <soap:operation soapAction="http://tempuri.org/GetMobileUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBascUserMenu">
      <soap:operation soapAction="http://tempuri.org/GetBascUserMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPwd">
      <soap:operation soapAction="http://tempuri.org/UpdateUserPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLogIn">
      <soap:operation soapAction="http://tempuri.org/RegisterLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCanGenerateTasks">
      <soap:operation soapAction="http://tempuri.org/UserCanGenerateTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLoginID_OnThisTerminal">
      <soap:operation soapAction="http://tempuri.org/GetLastLoginID_OnThisTerminal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTerminalLogIn">
      <soap:operation soapAction="http://tempuri.org/RegisterTerminalLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KillBroadcast">
      <soap:operation soapAction="http://tempuri.org/KillBroadcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_SecuritySoap12" type="tns:WMS_SecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUserLogin">
      <soap12:operation soapAction="http://tempuri.org/CreateUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLogin">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGUI">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserGUI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserLogin">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOperators">
      <soap12:operation soapAction="http://tempuri.org/SearchOperators" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialUserLogin">
      <soap12:operation soapAction="http://tempuri.org/SearchPartialUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyUserLogin">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GroupByKeyUserLogin">
      <soap12:operation soapAction="http://tempuri.org/GroupByKeyUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccessLevelGroups">
      <soap12:operation soapAction="http://tempuri.org/AccessLevelGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPointGroups">
      <soap12:operation soapAction="http://tempuri.org/CheckPointGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyCheckPoint">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyCheckPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialCheckPoint">
      <soap12:operation soapAction="http://tempuri.org/SearchPartialCheckPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCheckPoint">
      <soap12:operation soapAction="http://tempuri.org/DeleteCheckPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCheckPoint">
      <soap12:operation soapAction="http://tempuri.org/UpdateCheckPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCheckPoint">
      <soap12:operation soapAction="http://tempuri.org/CreateCheckPoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/SearchPartialAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/DeleteAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/CreateAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointJoinAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/GetCheckPointJoinAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCheckPointsJoinAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/SelectCheckPointsJoinAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinCheckPointToAccessLevel">
      <soap12:operation soapAction="http://tempuri.org/JoinCheckPointToAccessLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPass">
      <soap12:operation soapAction="http://tempuri.org/VerifyUserPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyExternalUserPass">
      <soap12:operation soapAction="http://tempuri.org/VerifyExternalUserPass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BringUserMenuBasc">
      <soap12:operation soapAction="http://tempuri.org/BringUserMenuBasc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserPassBasc">
      <soap12:operation soapAction="http://tempuri.org/VerifyUserPassBasc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyName">
      <soap12:operation soapAction="http://tempuri.org/GetCompanyName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnvironments">
      <soap12:operation soapAction="http://tempuri.org/GetEnvironments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnvironmentByKey">
      <soap12:operation soapAction="http://tempuri.org/GetEnvironmentByKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCheckPointsTree">
      <soap12:operation soapAction="http://tempuri.org/GetCheckPointsTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserAllowed">
      <soap12:operation soapAction="http://tempuri.org/IsUserAllowed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMobileUserMenu">
      <soap12:operation soapAction="http://tempuri.org/GetMobileUserMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBascUserMenu">
      <soap12:operation soapAction="http://tempuri.org/GetBascUserMenu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPwd">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterLogIn">
      <soap12:operation soapAction="http://tempuri.org/RegisterLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserCanGenerateTasks">
      <soap12:operation soapAction="http://tempuri.org/UserCanGenerateTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastLoginID_OnThisTerminal">
      <soap12:operation soapAction="http://tempuri.org/GetLastLoginID_OnThisTerminal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTerminalLogIn">
      <soap12:operation soapAction="http://tempuri.org/RegisterTerminalLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KillBroadcast">
      <soap12:operation soapAction="http://tempuri.org/KillBroadcast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_Security">
    <wsdl:port name="WMS_SecuritySoap" binding="tns:WMS_SecuritySoap">
      <soap:address location="http://localhost/Alsersa/WMSOnePlan_BusinessServices/Catalogues/WMS_Security.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_SecuritySoap12" binding="tns:WMS_SecuritySoap12">
      <soap12:address location="http://localhost/Alsersa/WMSOnePlan_BusinessServices/Catalogues/WMS_Security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>