MobilityScm.Modelo.Vistas.Operaciones/Web References/WMS_Locations/WMS_Locations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_TYPE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pSPOT_ORDERBY" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_AISLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_COLUMN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_LEVEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_PICKING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_STORAGE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_REALLOC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAVAILABLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pZONA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPARTICION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pETIQUETA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pMAX_MT2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pMAX_WEIGHT" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="resultado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ambiente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateShelfSpotsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="resultado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_TYPE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pSPOT_ORDERBY" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_AISLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_COLUMN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_LEVEL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_PICKING" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_STORAGE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pALLOW_REALLOC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pAVAILABLE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pZONA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPARTICION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pETIQUETA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pMAX_MT2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pMAX_WEIGHT" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="resultado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ambiente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateShelfSpotsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="resultado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteShelfSpotsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPartialShelfSpotsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnabledShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnabledShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EnabledShelfSpotsResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPickingLines">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPickingLinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPickingLinesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyShelfSpotsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByHierarchyShelfSpots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pZONE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByHierarchyShelfSpotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByHierarchyShelfSpotsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectWarehousesGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectWarehousesGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectWarehousesGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectWarehousesEnabled">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectWarehousesEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectWarehousesEnabledResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectZonesGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWarehouseParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectZonesGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectZonesGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedProd_ByLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWarehouseParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedProd_ByLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelatedProd_ByLocResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedProd_ByWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWarehouseParent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pMaterialID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelatedProd_ByWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelatedProd_ByWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectERPWarehouses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectERPWarehousesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectERPWarehousesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectClimaWarehouses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectClimaWarehousesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectClimaWarehousesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLoginXLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTASK_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLoginXLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateLoginXLocResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginXLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLAST_LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_NAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTASK_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateLoginXLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateLoginXLocResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginXLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTASK_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteLoginXLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteLoginXLocResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyLoginXLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLINE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION_SPOT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTASK_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyLoginXLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyLoginXLocResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialLoginXLoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_PARENT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLOCATION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pTASK_TYPE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchPartialLoginXLocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchPartialLoginXLocResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailable_Operators">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailable_OperatorsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailable_OperatorsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModules_X_Operator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetModules_X_OperatorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetModules_X_OperatorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWmsZones">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="warehouse" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWmsZonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWmsZonesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailable_Locations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailable_LocationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailable_LocationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationsByWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationsByWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationsByWHResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pWh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolizaInsurance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPolizaInsuranceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPolizaInsuranceResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTermsOfTrade">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTermsOfTradeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTermsOfTradeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIfExistsMaterialByClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientOwner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materialId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="environmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIfExistsMaterialByClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetIfExistsMaterialByClientResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarUbicacionExisteEnBodega">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ambiente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoBodega" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoUbicacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarUbicacionExisteEnBodegaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidarUbicacionExisteEnBodegaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteWarehouseResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCOMMENTS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pERP_WAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pShuntName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWareHouseWeather" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pWareHouseStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pIs3plWareHouse" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pWareHouseAddres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGpsUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDistributionCenterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateWarehouseResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pNAME" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pCOMMENTS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pERP_WAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pShuntName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWareHouseWeather" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pWareHouseStatus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pIs3plWareHouse" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pWareHouseAddres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pGpsUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDistributionCenterId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateWarehouseResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByKeyWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByKeyWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWareHouseEnabled">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWareHouseEnabledResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWareHouseEnabledResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributionCenters">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistributionCentersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistributionCentersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssociatedWarehouseWithUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAssociatedWarehouseWithUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAssociatedWarehouseWithUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarehouseByDistributionCenter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DISTRIBUTION_CENTER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWarehouseByDistributionCenterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWarehouseByDistributionCenterResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisassociateWarehouseOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="WAREHOUSE_BY_USER_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisassociateWarehouseOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisassociateWarehouseOfUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateWarehouseOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateWarehouseOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssociateWarehouseOfUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateDistributionCenterWithUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DISTRIBUTION_CENTER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssociateDistributionCenterWithUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssociateDistributionCenterWithUserResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableWarehouseByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LOGIN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableWarehouseByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableWarehouseByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:CreateShelfSpots" />
  </wsdl:message>
  <wsdl:message name="CreateShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:CreateShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateShelfSpots" />
  </wsdl:message>
  <wsdl:message name="UpdateShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteShelfSpots" />
  </wsdl:message>
  <wsdl:message name="DeleteShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPartialShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPartialShelfSpots" />
  </wsdl:message>
  <wsdl:message name="SearchPartialShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPartialShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="EnabledShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:EnabledShelfSpots" />
  </wsdl:message>
  <wsdl:message name="EnabledShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:EnabledShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPickingLinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPickingLines" />
  </wsdl:message>
  <wsdl:message name="GetPickingLinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPickingLinesResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyShelfSpots" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByHierarchyShelfSpotsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByHierarchyShelfSpots" />
  </wsdl:message>
  <wsdl:message name="SearchByHierarchyShelfSpotsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByHierarchyShelfSpotsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectWarehousesGroupSoapIn">
    <wsdl:part name="parameters" element="tns:SelectWarehousesGroup" />
  </wsdl:message>
  <wsdl:message name="SelectWarehousesGroupSoapOut">
    <wsdl:part name="parameters" element="tns:SelectWarehousesGroupResponse" />
  </wsdl:message>
  <wsdl:message name="SelectWarehousesEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:SelectWarehousesEnabled" />
  </wsdl:message>
  <wsdl:message name="SelectWarehousesEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:SelectWarehousesEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="SelectZonesGroupSoapIn">
    <wsdl:part name="parameters" element="tns:SelectZonesGroup" />
  </wsdl:message>
  <wsdl:message name="SelectZonesGroupSoapOut">
    <wsdl:part name="parameters" element="tns:SelectZonesGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelatedProd_ByLocSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatedProd_ByLoc" />
  </wsdl:message>
  <wsdl:message name="GetRelatedProd_ByLocSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelatedProd_ByLocResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelatedProd_ByWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelatedProd_ByWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetRelatedProd_ByWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelatedProd_ByWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="SelectERPWarehousesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectERPWarehouses" />
  </wsdl:message>
  <wsdl:message name="SelectERPWarehousesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectERPWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="SelectClimaWarehousesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectClimaWarehouses" />
  </wsdl:message>
  <wsdl:message name="SelectClimaWarehousesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectClimaWarehousesResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLoginXLocSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLoginXLoc" />
  </wsdl:message>
  <wsdl:message name="CreateLoginXLocSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLoginXLocResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginXLocSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateLoginXLoc" />
  </wsdl:message>
  <wsdl:message name="UpdateLoginXLocSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateLoginXLocResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginXLocSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteLoginXLoc" />
  </wsdl:message>
  <wsdl:message name="DeleteLoginXLocSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteLoginXLocResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyLoginXLocSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyLoginXLoc" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyLoginXLocSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyLoginXLocResponse" />
  </wsdl:message>
  <wsdl:message name="SearchPartialLoginXLocSoapIn">
    <wsdl:part name="parameters" element="tns:SearchPartialLoginXLoc" />
  </wsdl:message>
  <wsdl:message name="SearchPartialLoginXLocSoapOut">
    <wsdl:part name="parameters" element="tns:SearchPartialLoginXLocResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailable_OperatorsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailable_Operators" />
  </wsdl:message>
  <wsdl:message name="GetAvailable_OperatorsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailable_OperatorsResponse" />
  </wsdl:message>
  <wsdl:message name="GetModules_X_OperatorSoapIn">
    <wsdl:part name="parameters" element="tns:GetModules_X_Operator" />
  </wsdl:message>
  <wsdl:message name="GetModules_X_OperatorSoapOut">
    <wsdl:part name="parameters" element="tns:GetModules_X_OperatorResponse" />
  </wsdl:message>
  <wsdl:message name="GetWmsZonesSoapIn">
    <wsdl:part name="parameters" element="tns:GetWmsZones" />
  </wsdl:message>
  <wsdl:message name="GetWmsZonesSoapOut">
    <wsdl:part name="parameters" element="tns:GetWmsZonesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailable_LocationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailable_Locations" />
  </wsdl:message>
  <wsdl:message name="GetAvailable_LocationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailable_LocationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationsByWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocationsByWH" />
  </wsdl:message>
  <wsdl:message name="GetLocationsByWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationsByWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetPolizaInsuranceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPolizaInsurance" />
  </wsdl:message>
  <wsdl:message name="GetPolizaInsuranceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPolizaInsuranceResponse" />
  </wsdl:message>
  <wsdl:message name="GetTermsOfTradeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTermsOfTrade" />
  </wsdl:message>
  <wsdl:message name="GetTermsOfTradeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTermsOfTradeResponse" />
  </wsdl:message>
  <wsdl:message name="GetIfExistsMaterialByClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetIfExistsMaterialByClient" />
  </wsdl:message>
  <wsdl:message name="GetIfExistsMaterialByClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetIfExistsMaterialByClientResponse" />
  </wsdl:message>
  <wsdl:message name="ValidarUbicacionExisteEnBodegaSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarUbicacionExisteEnBodega" />
  </wsdl:message>
  <wsdl:message name="ValidarUbicacionExisteEnBodegaSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarUbicacionExisteEnBodegaResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWarehouse" />
  </wsdl:message>
  <wsdl:message name="DeleteWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWarehouse" />
  </wsdl:message>
  <wsdl:message name="UpdateWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="CreateWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:CreateWarehouse" />
  </wsdl:message>
  <wsdl:message name="CreateWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:CreateWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByKeyWarehouse" />
  </wsdl:message>
  <wsdl:message name="SearchByKeyWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByKeyWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetWareHouseEnabledSoapIn">
    <wsdl:part name="parameters" element="tns:GetWareHouseEnabled" />
  </wsdl:message>
  <wsdl:message name="GetWareHouseEnabledSoapOut">
    <wsdl:part name="parameters" element="tns:GetWareHouseEnabledResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistributionCentersSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistributionCenters" />
  </wsdl:message>
  <wsdl:message name="GetDistributionCentersSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistributionCentersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAssociatedWarehouseWithUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAssociatedWarehouseWithUser" />
  </wsdl:message>
  <wsdl:message name="GetAssociatedWarehouseWithUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAssociatedWarehouseWithUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseByDistributionCenterSoapIn">
    <wsdl:part name="parameters" element="tns:GetWarehouseByDistributionCenter" />
  </wsdl:message>
  <wsdl:message name="GetWarehouseByDistributionCenterSoapOut">
    <wsdl:part name="parameters" element="tns:GetWarehouseByDistributionCenterResponse" />
  </wsdl:message>
  <wsdl:message name="DisassociateWarehouseOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:DisassociateWarehouseOfUser" />
  </wsdl:message>
  <wsdl:message name="DisassociateWarehouseOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:DisassociateWarehouseOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="AssociateWarehouseOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:AssociateWarehouseOfUser" />
  </wsdl:message>
  <wsdl:message name="AssociateWarehouseOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:AssociateWarehouseOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="AssociateDistributionCenterWithUserSoapIn">
    <wsdl:part name="parameters" element="tns:AssociateDistributionCenterWithUser" />
  </wsdl:message>
  <wsdl:message name="AssociateDistributionCenterWithUserSoapOut">
    <wsdl:part name="parameters" element="tns:AssociateDistributionCenterWithUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableWarehouseByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableWarehouseByUser" />
  </wsdl:message>
  <wsdl:message name="GetAvailableWarehouseByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableWarehouseByUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_LocationsSoap">
    <wsdl:operation name="CreateShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Shelf Spot Location</wsdl:documentation>
      <wsdl:input message="tns:CreateShelfSpotsSoapIn" />
      <wsdl:output message="tns:CreateShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Shelf spot location</wsdl:documentation>
      <wsdl:input message="tns:UpdateShelfSpotsSoapIn" />
      <wsdl:output message="tns:UpdateShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Shelf Spot Location</wsdl:documentation>
      <wsdl:input message="tns:DeleteShelfSpotsSoapIn" />
      <wsdl:output message="tns:DeleteShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPartialShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Select Partial</wsdl:documentation>
      <wsdl:input message="tns:SearchPartialShelfSpotsSoapIn" />
      <wsdl:output message="tns:SearchPartialShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnabledShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Select Partial</wsdl:documentation>
      <wsdl:input message="tns:EnabledShelfSpotsSoapIn" />
      <wsdl:output message="tns:EnabledShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPickingLines">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Distinct LinePicking</wsdl:documentation>
      <wsdl:input message="tns:GetPickingLinesSoapIn" />
      <wsdl:output message="tns:GetPickingLinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyShelfSpotsSoapIn" />
      <wsdl:output message="tns:SearchByKeyShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByHierarchyShelfSpots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:SearchByHierarchyShelfSpotsSoapIn" />
      <wsdl:output message="tns:SearchByHierarchyShelfSpotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:SelectWarehousesGroupSoapIn" />
      <wsdl:output message="tns:SelectWarehousesGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesEnabled">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search enabled spot location</wsdl:documentation>
      <wsdl:input message="tns:SelectWarehousesEnabledSoapIn" />
      <wsdl:output message="tns:SelectWarehousesEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectZonesGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:SelectZonesGroupSoapIn" />
      <wsdl:output message="tns:SelectZonesGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:GetRelatedProd_ByLocSoapIn" />
      <wsdl:output message="tns:GetRelatedProd_ByLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:GetRelatedProd_ByWarehouseSoapIn" />
      <wsdl:output message="tns:GetRelatedProd_ByWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectERPWarehouses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific spot location</wsdl:documentation>
      <wsdl:input message="tns:SelectERPWarehousesSoapIn" />
      <wsdl:output message="tns:SelectERPWarehousesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectClimaWarehouses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Search specific Clima location</wsdl:documentation>
      <wsdl:input message="tns:SelectClimaWarehousesSoapIn" />
      <wsdl:output message="tns:SelectClimaWarehousesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLoginXLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Login x Location by Partial</wsdl:documentation>
      <wsdl:input message="tns:CreateLoginXLocSoapIn" />
      <wsdl:output message="tns:CreateLoginXLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginXLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Login x Location by Partial</wsdl:documentation>
      <wsdl:input message="tns:UpdateLoginXLocSoapIn" />
      <wsdl:output message="tns:UpdateLoginXLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginXLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Login x Location</wsdl:documentation>
      <wsdl:input message="tns:DeleteLoginXLocSoapIn" />
      <wsdl:output message="tns:DeleteLoginXLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyLoginXLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Login x Location by Key</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyLoginXLocSoapIn" />
      <wsdl:output message="tns:SearchByKeyLoginXLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchPartialLoginXLoc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Login x Location by Partial</wsdl:documentation>
      <wsdl:input message="tns:SearchPartialLoginXLocSoapIn" />
      <wsdl:output message="tns:SearchPartialLoginXLocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Operators">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Modules related with operator</wsdl:documentation>
      <wsdl:input message="tns:GetAvailable_OperatorsSoapIn" />
      <wsdl:output message="tns:GetAvailable_OperatorsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetModules_X_Operator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Modules related with operator</wsdl:documentation>
      <wsdl:input message="tns:GetModules_X_OperatorSoapIn" />
      <wsdl:output message="tns:GetModules_X_OperatorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWmsZones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all zones</wsdl:documentation>
      <wsdl:input message="tns:GetWmsZonesSoapIn" />
      <wsdl:output message="tns:GetWmsZonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Locations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Modules related with operator</wsdl:documentation>
      <wsdl:input message="tns:GetAvailable_LocationsSoapIn" />
      <wsdl:output message="tns:GetAvailable_LocationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByWH">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all locations by warehouse</wsdl:documentation>
      <wsdl:input message="tns:GetLocationsByWHSoapIn" />
      <wsdl:output message="tns:GetLocationsByWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPolizaInsurance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TraePolizasDeSeguro</wsdl:documentation>
      <wsdl:input message="tns:GetPolizaInsuranceSoapIn" />
      <wsdl:output message="tns:GetPolizaInsuranceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTermsOfTrade">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TraeLosTerminosComerciales</wsdl:documentation>
      <wsdl:input message="tns:GetTermsOfTradeSoapIn" />
      <wsdl:output message="tns:GetTermsOfTradeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIfExistsMaterialByClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetIfExistsMaterialByClient</wsdl:documentation>
      <wsdl:input message="tns:GetIfExistsMaterialByClientSoapIn" />
      <wsdl:output message="tns:GetIfExistsMaterialByClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidarUbicacionExisteEnBodega">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si la ubicacin existe en la bodega.</wsdl:documentation>
      <wsdl:input message="tns:ValidarUbicacionExisteEnBodegaSoapIn" />
      <wsdl:output message="tns:ValidarUbicacionExisteEnBodegaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eleminar una bodega</wsdl:documentation>
      <wsdl:input message="tns:DeleteWarehouseSoapIn" />
      <wsdl:output message="tns:DeleteWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">actualiza informacion de una bodega</wsdl:documentation>
      <wsdl:input message="tns:UpdateWarehouseSoapIn" />
      <wsdl:output message="tns:UpdateWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">nueva bodega</wsdl:documentation>
      <wsdl:input message="tns:CreateWarehouseSoapIn" />
      <wsdl:output message="tns:CreateWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Selecciona una bodega por su codigo</wsdl:documentation>
      <wsdl:input message="tns:SearchByKeyWarehouseSoapIn" />
      <wsdl:output message="tns:SearchByKeyWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWareHouseEnabled">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene las boldegas habilitadas</wsdl:documentation>
      <wsdl:input message="tns:GetWareHouseEnabledSoapIn" />
      <wsdl:output message="tns:GetWareHouseEnabledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistributionCenters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TraeLosCentrosDeDistribucion</wsdl:documentation>
      <wsdl:input message="tns:GetDistributionCentersSoapIn" />
      <wsdl:output message="tns:GetDistributionCentersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedWarehouseWithUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BodegasAsociadasAUsuario</wsdl:documentation>
      <wsdl:input message="tns:GetAssociatedWarehouseWithUserSoapIn" />
      <wsdl:output message="tns:GetAssociatedWarehouseWithUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByDistributionCenter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ObtenerBodegasAsociadasACentroDistribucion</wsdl:documentation>
      <wsdl:input message="tns:GetWarehouseByDistributionCenterSoapIn" />
      <wsdl:output message="tns:GetWarehouseByDistributionCenterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisassociateWarehouseOfUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DesAsociarBodegaAUsuario</wsdl:documentation>
      <wsdl:input message="tns:DisassociateWarehouseOfUserSoapIn" />
      <wsdl:output message="tns:DisassociateWarehouseOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateWarehouseOfUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AsociarBodegaAUsuario</wsdl:documentation>
      <wsdl:input message="tns:AssociateWarehouseOfUserSoapIn" />
      <wsdl:output message="tns:AssociateWarehouseOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssociateDistributionCenterWithUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AssociateDistributionCenterWithUser</wsdl:documentation>
      <wsdl:input message="tns:AssociateDistributionCenterWithUserSoapIn" />
      <wsdl:output message="tns:AssociateDistributionCenterWithUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableWarehouseByUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AssociateDistributionCenterWithUser</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableWarehouseByUserSoapIn" />
      <wsdl:output message="tns:GetAvailableWarehouseByUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_LocationsSoap" type="tns:WMS_LocationsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateShelfSpots">
      <soap:operation soapAction="http://tempuri.org/CreateShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShelfSpots">
      <soap:operation soapAction="http://tempuri.org/UpdateShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShelfSpots">
      <soap:operation soapAction="http://tempuri.org/DeleteShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialShelfSpots">
      <soap:operation soapAction="http://tempuri.org/SearchPartialShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnabledShelfSpots">
      <soap:operation soapAction="http://tempuri.org/EnabledShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPickingLines">
      <soap:operation soapAction="http://tempuri.org/GetPickingLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyShelfSpots">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByHierarchyShelfSpots">
      <soap:operation soapAction="http://tempuri.org/SearchByHierarchyShelfSpots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesGroup">
      <soap:operation soapAction="http://tempuri.org/SelectWarehousesGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesEnabled">
      <soap:operation soapAction="http://tempuri.org/SelectWarehousesEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonesGroup">
      <soap:operation soapAction="http://tempuri.org/SelectZonesGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByLoc">
      <soap:operation soapAction="http://tempuri.org/GetRelatedProd_ByLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetRelatedProd_ByWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectERPWarehouses">
      <soap:operation soapAction="http://tempuri.org/SelectERPWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClimaWarehouses">
      <soap:operation soapAction="http://tempuri.org/SelectClimaWarehouses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoginXLoc">
      <soap:operation soapAction="http://tempuri.org/CreateLoginXLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginXLoc">
      <soap:operation soapAction="http://tempuri.org/UpdateLoginXLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginXLoc">
      <soap:operation soapAction="http://tempuri.org/DeleteLoginXLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyLoginXLoc">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyLoginXLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialLoginXLoc">
      <soap:operation soapAction="http://tempuri.org/SearchPartialLoginXLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Operators">
      <soap:operation soapAction="http://tempuri.org/GetAvailable_Operators" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModules_X_Operator">
      <soap:operation soapAction="http://tempuri.org/GetModules_X_Operator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsZones">
      <soap:operation soapAction="http://tempuri.org/GetWmsZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Locations">
      <soap:operation soapAction="http://tempuri.org/GetAvailable_Locations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByWH">
      <soap:operation soapAction="http://tempuri.org/GetLocationsByWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolizaInsurance">
      <soap:operation soapAction="http://tempuri.org/GetPolizaInsurance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTermsOfTrade">
      <soap:operation soapAction="http://tempuri.org/GetTermsOfTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIfExistsMaterialByClient">
      <soap:operation soapAction="http://tempuri.org/GetIfExistsMaterialByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUbicacionExisteEnBodega">
      <soap:operation soapAction="http://tempuri.org/ValidarUbicacionExisteEnBodega" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWarehouse">
      <soap:operation soapAction="http://tempuri.org/DeleteWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <soap:operation soapAction="http://tempuri.org/UpdateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWarehouse">
      <soap:operation soapAction="http://tempuri.org/CreateWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyWarehouse">
      <soap:operation soapAction="http://tempuri.org/SearchByKeyWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWareHouseEnabled">
      <soap:operation soapAction="http://tempuri.org/GetWareHouseEnabled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributionCenters">
      <soap:operation soapAction="http://tempuri.org/GetDistributionCenters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedWarehouseWithUser">
      <soap:operation soapAction="http://tempuri.org/GetAssociatedWarehouseWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByDistributionCenter">
      <soap:operation soapAction="http://tempuri.org/GetWarehouseByDistributionCenter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisassociateWarehouseOfUser">
      <soap:operation soapAction="http://tempuri.org/DisassociateWarehouseOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateWarehouseOfUser">
      <soap:operation soapAction="http://tempuri.org/AssociateWarehouseOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateDistributionCenterWithUser">
      <soap:operation soapAction="http://tempuri.org/AssociateDistributionCenterWithUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableWarehouseByUser">
      <soap:operation soapAction="http://tempuri.org/GetAvailableWarehouseByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_LocationsSoap12" type="tns:WMS_LocationsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/CreateShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/UpdateShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/DeleteShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/SearchPartialShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnabledShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/EnabledShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPickingLines">
      <soap12:operation soapAction="http://tempuri.org/GetPickingLines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByHierarchyShelfSpots">
      <soap12:operation soapAction="http://tempuri.org/SearchByHierarchyShelfSpots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesGroup">
      <soap12:operation soapAction="http://tempuri.org/SelectWarehousesGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectWarehousesEnabled">
      <soap12:operation soapAction="http://tempuri.org/SelectWarehousesEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectZonesGroup">
      <soap12:operation soapAction="http://tempuri.org/SelectZonesGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByLoc">
      <soap12:operation soapAction="http://tempuri.org/GetRelatedProd_ByLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelatedProd_ByWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetRelatedProd_ByWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectERPWarehouses">
      <soap12:operation soapAction="http://tempuri.org/SelectERPWarehouses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClimaWarehouses">
      <soap12:operation soapAction="http://tempuri.org/SelectClimaWarehouses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoginXLoc">
      <soap12:operation soapAction="http://tempuri.org/CreateLoginXLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLoginXLoc">
      <soap12:operation soapAction="http://tempuri.org/UpdateLoginXLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLoginXLoc">
      <soap12:operation soapAction="http://tempuri.org/DeleteLoginXLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyLoginXLoc">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyLoginXLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPartialLoginXLoc">
      <soap12:operation soapAction="http://tempuri.org/SearchPartialLoginXLoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Operators">
      <soap12:operation soapAction="http://tempuri.org/GetAvailable_Operators" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModules_X_Operator">
      <soap12:operation soapAction="http://tempuri.org/GetModules_X_Operator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWmsZones">
      <soap12:operation soapAction="http://tempuri.org/GetWmsZones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailable_Locations">
      <soap12:operation soapAction="http://tempuri.org/GetAvailable_Locations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocationsByWH">
      <soap12:operation soapAction="http://tempuri.org/GetLocationsByWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolizaInsurance">
      <soap12:operation soapAction="http://tempuri.org/GetPolizaInsurance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTermsOfTrade">
      <soap12:operation soapAction="http://tempuri.org/GetTermsOfTrade" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIfExistsMaterialByClient">
      <soap12:operation soapAction="http://tempuri.org/GetIfExistsMaterialByClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarUbicacionExisteEnBodega">
      <soap12:operation soapAction="http://tempuri.org/ValidarUbicacionExisteEnBodega" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWarehouse">
      <soap12:operation soapAction="http://tempuri.org/DeleteWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWarehouse">
      <soap12:operation soapAction="http://tempuri.org/UpdateWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateWarehouse">
      <soap12:operation soapAction="http://tempuri.org/CreateWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByKeyWarehouse">
      <soap12:operation soapAction="http://tempuri.org/SearchByKeyWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWareHouseEnabled">
      <soap12:operation soapAction="http://tempuri.org/GetWareHouseEnabled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistributionCenters">
      <soap12:operation soapAction="http://tempuri.org/GetDistributionCenters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssociatedWarehouseWithUser">
      <soap12:operation soapAction="http://tempuri.org/GetAssociatedWarehouseWithUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWarehouseByDistributionCenter">
      <soap12:operation soapAction="http://tempuri.org/GetWarehouseByDistributionCenter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisassociateWarehouseOfUser">
      <soap12:operation soapAction="http://tempuri.org/DisassociateWarehouseOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateWarehouseOfUser">
      <soap12:operation soapAction="http://tempuri.org/AssociateWarehouseOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssociateDistributionCenterWithUser">
      <soap12:operation soapAction="http://tempuri.org/AssociateDistributionCenterWithUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableWarehouseByUser">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableWarehouseByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_Locations">
    <wsdl:port name="WMS_LocationsSoap" binding="tns:WMS_LocationsSoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Catalogues/WMS_Locations.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_LocationsSoap12" binding="tns:WMS_LocationsSoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Catalogues/WMS_Locations.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>