MobilityScm.Modelo.Vistas.EntregaDeDespacho/Web References/WMS_DeliveredLabels/WMS_DeliveredLabels.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLabelsByWavePicking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wavePickingId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLabelsByWavePickingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLabelsByWavePickingResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDeliveredDispatchHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wavePickingId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDeliveredDispatchHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDeliveredDispatchHeaderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeStatusDEliveredDispatchHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deliveredDispatchHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeStatusDEliveredDispatchHeaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeStatusDEliveredDispatchHeaderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfDeliveryPickingIsComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="wavePickingId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfDeliveryPickingIsCompleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateIfDeliveryPickingIsCompleteResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDeliveredLabel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deliveredDispatchHeaderId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="wavePickingId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="labelId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertDeliveredLabelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertDeliveredLabelResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeLabelStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="labelId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeLabelStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeLabelStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDeliveredLabel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="labelId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDeliveredLabelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDeliveredLabelResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveredDispatchDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deliveredDispatchHeaderId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveredDispatchDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveredDispatchDetailResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLabelsByWavePickingSoapIn">
    <wsdl:part name="parameters" element="tns:GetLabelsByWavePicking" />
  </wsdl:message>
  <wsdl:message name="GetLabelsByWavePickingSoapOut">
    <wsdl:part name="parameters" element="tns:GetLabelsByWavePickingResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDeliveredDispatchHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDeliveredDispatchHeader" />
  </wsdl:message>
  <wsdl:message name="InsertDeliveredDispatchHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDeliveredDispatchHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeStatusDEliveredDispatchHeaderSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeStatusDEliveredDispatchHeader" />
  </wsdl:message>
  <wsdl:message name="ChangeStatusDEliveredDispatchHeaderSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeStatusDEliveredDispatchHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIfDeliveryPickingIsCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIfDeliveryPickingIsComplete" />
  </wsdl:message>
  <wsdl:message name="ValidateIfDeliveryPickingIsCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIfDeliveryPickingIsCompleteResponse" />
  </wsdl:message>
  <wsdl:message name="InsertDeliveredLabelSoapIn">
    <wsdl:part name="parameters" element="tns:InsertDeliveredLabel" />
  </wsdl:message>
  <wsdl:message name="InsertDeliveredLabelSoapOut">
    <wsdl:part name="parameters" element="tns:InsertDeliveredLabelResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeLabelStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeLabelStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeLabelStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeLabelStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDeliveredLabelSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDeliveredLabel" />
  </wsdl:message>
  <wsdl:message name="DeleteDeliveredLabelSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDeliveredLabelResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveredDispatchDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveredDispatchDetail" />
  </wsdl:message>
  <wsdl:message name="GetDeliveredDispatchDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveredDispatchDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_DeliveredLabelsSoap">
    <wsdl:operation name="GetLabelsByWavePicking">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene las etiquetas de una ola de picking</wsdl:documentation>
      <wsdl:input message="tns:GetLabelsByWavePickingSoapIn" />
      <wsdl:output message="tns:GetLabelsByWavePickingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredDispatchHeader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Inserta una nueva entrega de espacho</wsdl:documentation>
      <wsdl:input message="tns:InsertDeliveredDispatchHeaderSoapIn" />
      <wsdl:output message="tns:InsertDeliveredDispatchHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusDEliveredDispatchHeader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cambia el estado de la entrega de espacho</wsdl:documentation>
      <wsdl:input message="tns:ChangeStatusDEliveredDispatchHeaderSoapIn" />
      <wsdl:output message="tns:ChangeStatusDEliveredDispatchHeaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIfDeliveryPickingIsComplete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve el porcentaje de avace de la entrega de la ola de picking</wsdl:documentation>
      <wsdl:input message="tns:ValidateIfDeliveryPickingIsCompleteSoapIn" />
      <wsdl:output message="tns:ValidateIfDeliveryPickingIsCompleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredLabel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar el encabezado del certificado</wsdl:documentation>
      <wsdl:input message="tns:InsertDeliveredLabelSoapIn" />
      <wsdl:output message="tns:InsertDeliveredLabelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeLabelStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cambia el estado de una etiqueta </wsdl:documentation>
      <wsdl:input message="tns:ChangeLabelStatusSoapIn" />
      <wsdl:output message="tns:ChangeLabelStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDeliveredLabel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Elimina una etiqueta entregada</wsdl:documentation>
      <wsdl:input message="tns:DeleteDeliveredLabelSoapIn" />
      <wsdl:output message="tns:DeleteDeliveredLabelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveredDispatchDetail">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene el detalle de la entrega de despacho</wsdl:documentation>
      <wsdl:input message="tns:GetDeliveredDispatchDetailSoapIn" />
      <wsdl:output message="tns:GetDeliveredDispatchDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_DeliveredLabelsSoap" type="tns:WMS_DeliveredLabelsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLabelsByWavePicking">
      <soap:operation soapAction="http://tempuri.org/GetLabelsByWavePicking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredDispatchHeader">
      <soap:operation soapAction="http://tempuri.org/InsertDeliveredDispatchHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusDEliveredDispatchHeader">
      <soap:operation soapAction="http://tempuri.org/ChangeStatusDEliveredDispatchHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfDeliveryPickingIsComplete">
      <soap:operation soapAction="http://tempuri.org/ValidateIfDeliveryPickingIsComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredLabel">
      <soap:operation soapAction="http://tempuri.org/InsertDeliveredLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLabelStatus">
      <soap:operation soapAction="http://tempuri.org/ChangeLabelStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeliveredLabel">
      <soap:operation soapAction="http://tempuri.org/DeleteDeliveredLabel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveredDispatchDetail">
      <soap:operation soapAction="http://tempuri.org/GetDeliveredDispatchDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_DeliveredLabelsSoap12" type="tns:WMS_DeliveredLabelsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLabelsByWavePicking">
      <soap12:operation soapAction="http://tempuri.org/GetLabelsByWavePicking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredDispatchHeader">
      <soap12:operation soapAction="http://tempuri.org/InsertDeliveredDispatchHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeStatusDEliveredDispatchHeader">
      <soap12:operation soapAction="http://tempuri.org/ChangeStatusDEliveredDispatchHeader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfDeliveryPickingIsComplete">
      <soap12:operation soapAction="http://tempuri.org/ValidateIfDeliveryPickingIsComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDeliveredLabel">
      <soap12:operation soapAction="http://tempuri.org/InsertDeliveredLabel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeLabelStatus">
      <soap12:operation soapAction="http://tempuri.org/ChangeLabelStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDeliveredLabel">
      <soap12:operation soapAction="http://tempuri.org/DeleteDeliveredLabel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveredDispatchDetail">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveredDispatchDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_DeliveredLabels">
    <wsdl:port name="WMS_DeliveredLabelsSoap" binding="tns:WMS_DeliveredLabelsSoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_DeliveredLabels.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_DeliveredLabelsSoap12" binding="tns:WMS_DeliveredLabelsSoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Trans/WMS_DeliveredLabels.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>