Swift3PLMobile/Web References/WMS_InfoInventory/WMS_InfoInventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInventory_ByLicense_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLICENSE_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByLicense_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByLicense_JSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_View">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pViewName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ViewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ViewResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pClientCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByClientResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pLICENSE_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByLicenseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByWarehouseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByWarehouseAndLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWAREHOUSE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSPOT_LOCATION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByWarehouseAndLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByWarehouseAndLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_GroupByMaterial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_GroupByMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_GroupByMaterialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_GroupByWarehouseMaterial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMATERIAL_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_GroupByWarehouseMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_GroupByWarehouseMaterialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByMaterial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMATERIAL_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventory_ByMaterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventory_ByMaterialResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_POLIZA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pPOLIZA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_POLIZAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_INV_X_POLIZAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_SKU">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_SKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_INV_X_SKUResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_LOC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_LOCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_INV_X_LOCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pLOC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLocationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_LIC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pLIC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GET_INV_X_LICResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GET_INV_X_LICResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenceAndSkuToRealloc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pLIC" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pSKU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenceAndSkuToReallocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLicenceAndSkuToReallocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenseLocationForRealloc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="license" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenseLocationForReallocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLicenseLocationForReallocResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationForStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="licenseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationForStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLocationForStorageResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationMaxWeigth">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationSpot" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="licenseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationMaxWeigthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLocationMaxWeigthResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfStatusOfLicenseAllowsRealloc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="licenseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codeSku" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="environmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfStatusOfLicenseAllowsReallocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateIfStatusOfLicenseAllowsReallocResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfLocationExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enviroment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateIfLocationExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateIfLocationExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformacionDeLaEtiquetaOCaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enviroment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerInformacionDeLaEtiquetaOCajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerInformacionDeLaEtiquetaOCajaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleDeLaEtiquetaOCaja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="barcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="wave" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="enviroment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerDetalleDeLaEtiquetaOCajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerDetalleDeLaEtiquetaOCajaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReubicarEtiquetaDeDespacho">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="labelId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="targetLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="enviroment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReubicarEtiquetaDeDespachoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReubicarEtiquetaDeDespachoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationVolume">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationSpot" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="licenseId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLocationVolumeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLocationVolumeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInventory_ByLicense_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByLicense_JSON" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByLicense_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByLicense_JSONResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ViewSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_View" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ViewSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ViewResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByClientSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByClient" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByClientSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByLicense" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByWarehouse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByWarehouseResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByWarehouseAndLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByWarehouseAndLocation" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByWarehouseAndLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByWarehouseAndLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_GroupByMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_GroupByMaterial" />
  </wsdl:message>
  <wsdl:message name="GetInventory_GroupByMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_GroupByMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_GroupByWarehouseMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_GroupByWarehouseMaterial" />
  </wsdl:message>
  <wsdl:message name="GetInventory_GroupByWarehouseMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_GroupByWarehouseMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByMaterialSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventory_ByMaterial" />
  </wsdl:message>
  <wsdl:message name="GetInventory_ByMaterialSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventory_ByMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_POLIZASoapIn">
    <wsdl:part name="parameters" element="tns:GET_INV_X_POLIZA" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_POLIZASoapOut">
    <wsdl:part name="parameters" element="tns:GET_INV_X_POLIZAResponse" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_SKUSoapIn">
    <wsdl:part name="parameters" element="tns:GET_INV_X_SKU" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_SKUSoapOut">
    <wsdl:part name="parameters" element="tns:GET_INV_X_SKUResponse" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_LOCSoapIn">
    <wsdl:part name="parameters" element="tns:GET_INV_X_LOC" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_LOCSoapOut">
    <wsdl:part name="parameters" element="tns:GET_INV_X_LOCResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocation" />
  </wsdl:message>
  <wsdl:message name="GetLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_LICSoapIn">
    <wsdl:part name="parameters" element="tns:GET_INV_X_LIC" />
  </wsdl:message>
  <wsdl:message name="GET_INV_X_LICSoapOut">
    <wsdl:part name="parameters" element="tns:GET_INV_X_LICResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenceAndSkuToReallocSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLicenceAndSkuToRealloc" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenceAndSkuToReallocSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLicenceAndSkuToReallocResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseLocationForReallocSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLicenseLocationForRealloc" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseLocationForReallocSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLicenseLocationForReallocResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationForStorageSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLocationForStorage" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationForStorageSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLocationForStorageResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationMaxWeigthSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLocationMaxWeigth" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationMaxWeigthSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLocationMaxWeigthResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIfStatusOfLicenseAllowsReallocSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIfStatusOfLicenseAllowsRealloc" />
  </wsdl:message>
  <wsdl:message name="ValidateIfStatusOfLicenseAllowsReallocSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIfStatusOfLicenseAllowsReallocResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateIfLocationExistsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateIfLocationExists" />
  </wsdl:message>
  <wsdl:message name="ValidateIfLocationExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateIfLocationExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionDeLaEtiquetaOCajaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionDeLaEtiquetaOCaja" />
  </wsdl:message>
  <wsdl:message name="ObtenerInformacionDeLaEtiquetaOCajaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerInformacionDeLaEtiquetaOCajaResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleDeLaEtiquetaOCajaSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDeLaEtiquetaOCaja" />
  </wsdl:message>
  <wsdl:message name="ObtenerDetalleDeLaEtiquetaOCajaSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerDetalleDeLaEtiquetaOCajaResponse" />
  </wsdl:message>
  <wsdl:message name="ReubicarEtiquetaDeDespachoSoapIn">
    <wsdl:part name="parameters" element="tns:ReubicarEtiquetaDeDespacho" />
  </wsdl:message>
  <wsdl:message name="ReubicarEtiquetaDeDespachoSoapOut">
    <wsdl:part name="parameters" element="tns:ReubicarEtiquetaDeDespachoResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationVolumeSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLocationVolume" />
  </wsdl:message>
  <wsdl:message name="ValidateLocationVolumeSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLocationVolumeResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_InfoInventorySoap">
    <wsdl:operation name="GetInventory_ByLicense_JSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetInvByLocation JSON Format</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByLicense_JSONSoapIn" />
      <wsdl:output message="tns:GetInventory_ByLicense_JSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_View">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by differents views</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ViewSoapIn" />
      <wsdl:output message="tns:GetInventory_ViewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by differents views</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByClientSoapIn" />
      <wsdl:output message="tns:GetInventory_ByClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByLicense">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">GetInventory_ByLicense</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByLicenseSoapIn" />
      <wsdl:output message="tns:GetInventory_ByLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouse">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Warehouse</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByWarehouseSoapIn" />
      <wsdl:output message="tns:GetInventory_ByWarehouseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouseAndLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Warehouse</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByWarehouseAndLocationSoapIn" />
      <wsdl:output message="tns:GetInventory_ByWarehouseAndLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByMaterial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Warehouse</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_GroupByMaterialSoapIn" />
      <wsdl:output message="tns:GetInventory_GroupByMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByWarehouseMaterial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Warehouse</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_GroupByWarehouseMaterialSoapIn" />
      <wsdl:output message="tns:GetInventory_GroupByWarehouseMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByMaterial">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by SKU</wsdl:documentation>
      <wsdl:input message="tns:GetInventory_ByMaterialSoapIn" />
      <wsdl:output message="tns:GetInventory_ByMaterialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_POLIZA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Poliza</wsdl:documentation>
      <wsdl:input message="tns:GET_INV_X_POLIZASoapIn" />
      <wsdl:output message="tns:GET_INV_X_POLIZASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_SKU">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Poliza</wsdl:documentation>
      <wsdl:input message="tns:GET_INV_X_SKUSoapIn" />
      <wsdl:output message="tns:GET_INV_X_SKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LOC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Poliza</wsdl:documentation>
      <wsdl:input message="tns:GET_INV_X_LOCSoapIn" />
      <wsdl:output message="tns:GET_INV_X_LOCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Location Information</wsdl:documentation>
      <wsdl:input message="tns:GetLocationSoapIn" />
      <wsdl:output message="tns:GetLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LIC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Inventory by Poliza</wsdl:documentation>
      <wsdl:input message="tns:GET_INV_X_LICSoapIn" />
      <wsdl:output message="tns:GET_INV_X_LICSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenceAndSkuToRealloc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateLicenceAndSkuToRealloc</wsdl:documentation>
      <wsdl:input message="tns:ValidateLicenceAndSkuToReallocSoapIn" />
      <wsdl:output message="tns:ValidateLicenceAndSkuToReallocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseLocationForRealloc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateLicenseLocationForRealloc</wsdl:documentation>
      <wsdl:input message="tns:ValidateLicenseLocationForReallocSoapIn" />
      <wsdl:output message="tns:ValidateLicenseLocationForReallocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationForStorage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateLocationForStorage</wsdl:documentation>
      <wsdl:input message="tns:ValidateLocationForStorageSoapIn" />
      <wsdl:output message="tns:ValidateLocationForStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationMaxWeigth">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateLocationMaxWeigth</wsdl:documentation>
      <wsdl:input message="tns:ValidateLocationMaxWeigthSoapIn" />
      <wsdl:output message="tns:ValidateLocationMaxWeigthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIfStatusOfLicenseAllowsRealloc">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateIfStatusOfLicenseAllowsRealloc</wsdl:documentation>
      <wsdl:input message="tns:ValidateIfStatusOfLicenseAllowsReallocSoapIn" />
      <wsdl:output message="tns:ValidateIfStatusOfLicenseAllowsReallocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateIfLocationExists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Valida si la ubicación existe y es valida.</wsdl:documentation>
      <wsdl:input message="tns:ValidateIfLocationExistsSoapIn" />
      <wsdl:output message="tns:ValidateIfLocationExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDeLaEtiquetaOCaja">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene la información principal de la etiqueta o caja.</wsdl:documentation>
      <wsdl:input message="tns:ObtenerInformacionDeLaEtiquetaOCajaSoapIn" />
      <wsdl:output message="tns:ObtenerInformacionDeLaEtiquetaOCajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDeLaEtiquetaOCaja">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los contenidos de la etiqueta o caja</wsdl:documentation>
      <wsdl:input message="tns:ObtenerDetalleDeLaEtiquetaOCajaSoapIn" />
      <wsdl:output message="tns:ObtenerDetalleDeLaEtiquetaOCajaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReubicarEtiquetaDeDespacho">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Reubica una etiqueta de despacho y devuelve el resultado por medio de un objeto operación.</wsdl:documentation>
      <wsdl:input message="tns:ReubicarEtiquetaDeDespachoSoapIn" />
      <wsdl:output message="tns:ReubicarEtiquetaDeDespachoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationVolume">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ValidateLocationVolume</wsdl:documentation>
      <wsdl:input message="tns:ValidateLocationVolumeSoapIn" />
      <wsdl:output message="tns:ValidateLocationVolumeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_InfoInventorySoap" type="tns:WMS_InfoInventorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventory_ByLicense_JSON">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByLicense_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_View">
      <soap:operation soapAction="http://tempuri.org/GetInventory_View" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByClient">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByLicense">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouse">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouseAndLocation">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByWarehouseAndLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByMaterial">
      <soap:operation soapAction="http://tempuri.org/GetInventory_GroupByMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByWarehouseMaterial">
      <soap:operation soapAction="http://tempuri.org/GetInventory_GroupByWarehouseMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByMaterial">
      <soap:operation soapAction="http://tempuri.org/GetInventory_ByMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_POLIZA">
      <soap:operation soapAction="http://tempuri.org/GET_INV_X_POLIZA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_SKU">
      <soap:operation soapAction="http://tempuri.org/GET_INV_X_SKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LOC">
      <soap:operation soapAction="http://tempuri.org/GET_INV_X_LOC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LIC">
      <soap:operation soapAction="http://tempuri.org/GET_INV_X_LIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenceAndSkuToRealloc">
      <soap:operation soapAction="http://tempuri.org/ValidateLicenceAndSkuToRealloc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseLocationForRealloc">
      <soap:operation soapAction="http://tempuri.org/ValidateLicenseLocationForRealloc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationForStorage">
      <soap:operation soapAction="http://tempuri.org/ValidateLocationForStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationMaxWeigth">
      <soap:operation soapAction="http://tempuri.org/ValidateLocationMaxWeigth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfStatusOfLicenseAllowsRealloc">
      <soap:operation soapAction="http://tempuri.org/ValidateIfStatusOfLicenseAllowsRealloc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfLocationExists">
      <soap:operation soapAction="http://tempuri.org/ValidateIfLocationExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDeLaEtiquetaOCaja">
      <soap:operation soapAction="http://tempuri.org/ObtenerInformacionDeLaEtiquetaOCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDeLaEtiquetaOCaja">
      <soap:operation soapAction="http://tempuri.org/ObtenerDetalleDeLaEtiquetaOCaja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReubicarEtiquetaDeDespacho">
      <soap:operation soapAction="http://tempuri.org/ReubicarEtiquetaDeDespacho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationVolume">
      <soap:operation soapAction="http://tempuri.org/ValidateLocationVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_InfoInventorySoap12" type="tns:WMS_InfoInventorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInventory_ByLicense_JSON">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByLicense_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_View">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_View" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByClient">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByLicense">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouse">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByWarehouseAndLocation">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByWarehouseAndLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByMaterial">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_GroupByMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_GroupByWarehouseMaterial">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_GroupByWarehouseMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventory_ByMaterial">
      <soap12:operation soapAction="http://tempuri.org/GetInventory_ByMaterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_POLIZA">
      <soap12:operation soapAction="http://tempuri.org/GET_INV_X_POLIZA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_SKU">
      <soap12:operation soapAction="http://tempuri.org/GET_INV_X_SKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LOC">
      <soap12:operation soapAction="http://tempuri.org/GET_INV_X_LOC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocation">
      <soap12:operation soapAction="http://tempuri.org/GetLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GET_INV_X_LIC">
      <soap12:operation soapAction="http://tempuri.org/GET_INV_X_LIC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenceAndSkuToRealloc">
      <soap12:operation soapAction="http://tempuri.org/ValidateLicenceAndSkuToRealloc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLicenseLocationForRealloc">
      <soap12:operation soapAction="http://tempuri.org/ValidateLicenseLocationForRealloc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationForStorage">
      <soap12:operation soapAction="http://tempuri.org/ValidateLocationForStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationMaxWeigth">
      <soap12:operation soapAction="http://tempuri.org/ValidateLocationMaxWeigth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfStatusOfLicenseAllowsRealloc">
      <soap12:operation soapAction="http://tempuri.org/ValidateIfStatusOfLicenseAllowsRealloc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateIfLocationExists">
      <soap12:operation soapAction="http://tempuri.org/ValidateIfLocationExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerInformacionDeLaEtiquetaOCaja">
      <soap12:operation soapAction="http://tempuri.org/ObtenerInformacionDeLaEtiquetaOCaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDetalleDeLaEtiquetaOCaja">
      <soap12:operation soapAction="http://tempuri.org/ObtenerDetalleDeLaEtiquetaOCaja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReubicarEtiquetaDeDespacho">
      <soap12:operation soapAction="http://tempuri.org/ReubicarEtiquetaDeDespacho" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLocationVolume">
      <soap12:operation soapAction="http://tempuri.org/ValidateLocationVolume" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_InfoInventory">
    <wsdl:port name="WMS_InfoInventorySoap" binding="tns:WMS_InfoInventorySoap">
      <soap:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Info/WMS_InfoInventory.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_InfoInventorySoap12" binding="tns:WMS_InfoInventorySoap12">
      <soap12:address location="http://localhost:8088/WMSOnePlan_BusinessServices/Info/WMS_InfoInventory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>