WmsOnePlan/WMSOnePlan_Client/Service References/OnePlanServices_Insurance_Log/WMS_Insurance_Log1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateInsuranceLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pDocId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pLastUpdatedBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pLastAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pLastCoverage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pCurrentAmount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="pCurrentCoverage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pEnvironmentName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateInsuranceLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateInsuranceLogResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="pResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateInsuranceLogSoapIn">
    <wsdl:part name="parameters" element="tns:CreateInsuranceLog" />
  </wsdl:message>
  <wsdl:message name="CreateInsuranceLogSoapOut">
    <wsdl:part name="parameters" element="tns:CreateInsuranceLogResponse" />
  </wsdl:message>
  <wsdl:portType name="WMS_Insurance_LogSoap">
    <wsdl:operation name="CreateInsuranceLog">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a Insurance log</wsdl:documentation>
      <wsdl:input message="tns:CreateInsuranceLogSoapIn" />
      <wsdl:output message="tns:CreateInsuranceLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WMS_Insurance_LogSoap" type="tns:WMS_Insurance_LogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateInsuranceLog">
      <soap:operation soapAction="http://tempuri.org/CreateInsuranceLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WMS_Insurance_LogSoap12" type="tns:WMS_Insurance_LogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateInsuranceLog">
      <soap12:operation soapAction="http://tempuri.org/CreateInsuranceLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WMS_Insurance_Log">
    <wsdl:port name="WMS_Insurance_LogSoap" binding="tns:WMS_Insurance_LogSoap">
      <soap:address location="http://localhost/WMSOnePlan_BusinessServices/Catalogues/WMS_Insurance_Log.asmx" />
    </wsdl:port>
    <wsdl:port name="WMS_Insurance_LogSoap12" binding="tns:WMS_Insurance_LogSoap12">
      <soap12:address location="http://localhost/WMSOnePlan_BusinessServices/Catalogues/WMS_Insurance_Log.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>